# dependencies
node_modules/
.pnpm-store/

# build output
lib/
*.tsbuildinfo

# editor
.vscode/
.idea/
.zcode/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local
